html {
    height: 100%;
}

body {
    background-color: #454343;
    background-image: url("Images/background-adare-restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 1024px;
    margin: auto;
}

header {
    height: 118px;
    text-align: center;

}
nav {
    background-color: rgba(0, 0, 0, 0.16);
    text-align: center;
    padding-bottom: 22px;
    padding-top: 22px;
}
main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}
footer {
    background-color: rgba(12, 12, 12, 0.6);
    text-align: center;

}
h1 {
    color: white;
    font-family: "Comic Sans MS", serif;
    font-size: 84px;
}
p {
    color: white;
    font-family: "Comic Sans MS", serif;
    font-size: 18px;
}
a {
    color: white;
    font-family: "Comic Sans MS", serif;

}
nav a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

}
footer p {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.maps {
    padding-bottom: 70px;
}