html {
    height: 100%;
}

body {
    background-color: #454343;
    background-image: url("Images/background-adare-restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 1024px;
    margin: auto;
}

header {
    height: 118px;
    text-align: center;

}
nav {
    background-color: rgba(0, 0, 0, 0.16);
    height: 40px;
}
main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}
footer {
    background-color: greenyellow;
    height: 100px;
}
h1 {
    color: white;
    font-family: "Comic Sans MS";
    font-size: 84px;
}
p {
    color: white;
    font-family: "Comic Sans MS";
    font-size: 18px;
}
a {
    color: white;
    font-family: "Comic Sans MS";

}